@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Sans+JP:wght@100&family=Pacifico&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 
 html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
  

body {
    font-family: 'Hachi Maru Pop', cursive;
    background: linear-gradient(-45deg, #a369a3, #FFFFFF, #C0C0C0);
    background-size: 300% 300%;
    animation: gradient 25s ease infinite;
    margin: auto;
    width: 100%;
    font-family: 'Pacifico', cursive;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

   /*top nav*/
 .nav {
     width: 100%;
     background-color: rgba(255, 255, 255, 0.3);
     border-radius: 5px;
     font-family: 'Hachi Maru Pop', cursive;
     font-weight: bold;
     backdrop-filter: blur(1px);
     padding: 20px 40px;
     display: flex;
   }
 
 
 .icon {
   width: 10%;
   text-decoration: none;
   color: black;
   display: flexbox;
   text-align: center;
 }
 
 .mainmenu { 
   width: 65%;
   display: flexbox;
   text-align: right;
   text-decoration: none;
   color:black;
   font-size: 25px;
  }
 
 nav a:hover {
   opacity: 0.5;
 }
  

/*main*/


 div {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: transparent;
    display: relative;
    justify-content: space-evenly;
    opacity: 0.9; 
} 

#img {
    width: 70%;
    height: 20%;
    border-style: double;
    border-color: #a588a5;
    opacity: 0.8;
    border-radius: 10%;
}

h1{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 40px;
    margin-top: 10%;
}

h2,
h3 {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 30px;
}

li, p, span {
    font-size: 25px;
} 

.container {
    display: flex;
}

/*style inner div*/
.inner {
    border-radius: 20px;
    border-color: #c4b2c4;
    border-style: outset;
    background-color: rgb(231, 224, 224);
}

/*next section*/
.container1 {
    display: inherit;
    flex-wrap: nowrap;
    padding: 10px;
}


.container1 div {
    padding: 10px;
    width: 96%;
}


@media all and (min-width: 1300px) {
    .container1 {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .container1 div {
        width: 22%;
        padding: 10px;
    }

}



/*2nd container section */
.container2 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.container2 div {
    width: 48%;
}

/*text section*/
#box {
    border-style: inset;
    background-image: linear-gradient(to left, #a790a7 0%, #f3e5e5 50%, #c0c0c0 100%);
} 

button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 10px;
    justify-content: center;
    width: 50%;
    color: black;
    font-weight: 600;
    border-color: #a588a5;
    font-family: 'Pacifico', cursive;
}

button:hover {
    background-color: #a790a7;
    color: rgb(42, 7, 124);
    animation-name: button;
    animation-duration: 3s;
}


@keyframes button {
    0% {
        background-color: #c0c0c0;
        box-shadow: 1px 1px 0 darkgrey;
    }
    100% {
        background-color:#a790a7;
        box-shadow: 1px 1px 0 black;
}
} 

/* useful info and nav*/
.useful a {
    align-items: stretch;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 90%;
    color: black;
    font-weight: 600;
    text-decoration: none;
} 

/* useful info section*/
 .btn {
    background-image: linear-gradient(to left, #a389a3 0%, #f3e5e5 50%, #c0c0c0 100%);
    margin: 10px;
}

.btn:hover {
    color: rgb(42, 7, 124);
} 


/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 5px #f3e5e5;
    border-radius: 10px;
} 

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
}