body {
    font-family: 'Hachi Maru Pop', cursive;
    background: linear-gradient(-45deg, #a369a3, #FFFFFF, #C0C0C0);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    margin: auto;
    width: 70%;
    font-family: 'Pacifico', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

div {
    width: 88%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(231, 224, 224);
    border-radius: 20px;
    border-color: #a588a5;
    border-style: outset;
    display: relative;
    justify-content: space-evenly;
    opacity: 0.9;
}

.container {
    display: inherit;
    flex-wrap: nowrap;
    padding: 10px;
}


.container div {
    padding: 10px;
    width: 95%;
}


@media all and (min-width: 1300px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
    }

    .container div {
        width: 22%;
        padding: 10px;
    }
}

#img {
    width: 90%;
    border-style: double;
    border-color: #a588a5;
    opacity: 0.8;
    border-radius: 10%;
}

h1 {
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
}

h2,
h3 {
    font-family: 'Hachi Maru Pop', cursive;
}

/*text section*/
#box {
    border-style: inset;
    background-image: linear-gradient(to left, #a790a7 0%, #f3e5e5 50%, #c0c0c0 100%);
}

button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 10px;
    justify-content: center;
    width: 50%;
    color: black;
    font-weight: 600;
    border-color: #a588a5;
    font-family: 'Pacifico', cursive;
}

button:hover {
    background-color: #c0c0c0;
    color: rgb(42, 7, 124);
    animation-name: button;
    animation-duration: 3s;
}


@keyframes button {
    0% {
        background-color: #a790a7;
        box-shadow: 1px 1px 0 darkgrey;
    }
    100% {
        background-color: #c0c0c0;
        box-shadow: 1px 1px 0 black;
}
}

/* useful info and footer*/
a {
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

/* useful info section*/
.btn {
    background-image: linear-gradient(to left, #a389a3 0%, #f3e5e5 50%, #c0c0c0 100%);
    margin: 10px;
}

.btn:hover {
    color: rgb(42, 7, 124);
}

/* font awesome */
footer {
    width: 100%;
    align-items: center;
    display: flex;
    width: 60%;
    color: rgb(42, 7, 124);
    padding-bottom: 10px;
    padding-top: 10px;
}


footer a:hover {
    opacity: 0.5;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f3e5e5;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
}