
  html,
  body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
   body {
    background-image: url(https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

  .container {
    align-items: center;
    display: flex;
    justify-items: auto;
    justify-content: center;
    height: 100%;
    backdrop-filter: blur(1px);

  }


  /* blur section*/
  .box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    width: 50vh;
    height: 30vh;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.3);
    border-style: groove;
    animation: box 20s;
  }

  @keyframes box {
    0%   {background-color:rgba(139, 58, 111, 0.3)}
    50%  {background-color:rgba(192,192,192,0.3)}
    100% {background-color: rgba(255, 255, 255, 0.3)}
  }

  h1 {
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }

  /* list */
  ul {
    list-style-type: none;
    display: flex;
    padding: 100px;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    font-weight: bolder;
    font-size: 35px;
    color: rgb(51, 18, 39);
    border-color: rgba(255, 255, 255, 0.3);
    border-style: inset;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(192,192,192,0.3);
  }

  @media screen and (max-width:400px) { 
    h1 {
      font-size: 70px;
    }
  }