body {
    font-family: 'Hachi Maru Pop', cursive;
    background: linear-gradient(-45deg, #5e454b, #f3f0d7, #33ffdd);
    background-size: 200% 200%;
	animation: gradient 15s ease infinite;
    margin: auto;
    width: 70%;
    font-family: 'Pacifico', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

div {
    padding: 10px;
    background-color: #f3f0d7;
    border-radius: 20px;
    border-color: #d8b384;
    border-style: outset;
    margin: 10px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px;
}

.container div {
    margin: 10px;
    width: 800px;
}

#img {
    position: relative;
    width: 100%;
    border-style: double;
    border-color:#33ffdd;
}

h1 {
    font-family: 'Hachi Maru Pop', cursive;
    text-align: center;
}

h2, h3 {
    font-family: 'Hachi Maru Pop', cursive;
}

#box {
    border-style: inset;
    background-image: linear-gradient(to left, #d8b384 0%, #f3f0d7 50%, #cee5d0 100%);
}

button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    border-radius: 10px;
    justify-content: center;
    width: 50%;
    color:rgb(42, 7, 124);
    font-weight: 600;
    background-color:cee5d0;
    border-color: #d8b384;
    font-family: 'Pacifico', cursive;
}

button:hover {
    background-color: #cee5d0 ;
    color: #5e454b;
}

a {
    align-items: center;
    text-transform: uppercase;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    width: 60%;
    color:rgb(42, 7, 124);
    font-weight: 600;
    text-decoration: none;
}

/* useful info section*/
.btn {
    background-image: linear-gradient(to left, #d8b384 0%, #f3f0d7 50%, #cee5d0 100%);
    margin: 10px;
  }

.btn:hover {
    color: #5e454b;
  }

/* font awesome */
footer {
    width: 100%;
    align-items: center;
    display: flex;
    width: 60%;
    color:rgb(42, 7, 124);
    padding-bottom: 10px;
  }
  
 
.fa:hover {
    opacity: 0.7;
  }
