@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Noto+Sans+JP:wght@100&family=Pacifico&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 
 html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  
   body {
    background-image: url(https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

  /*top nav*/
nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    display: flex;
  }

.name {
  width: 80%;
  display: flexbox;
  text-align: center;
}

.icon {
  width: 5%;
  text-decoration: none;
  color: black;
  display: flexbox;
  text-align: center;
}

.mainmenu { 
  width: 10%;
  display: flexbox;
  text-align: right;
  text-decoration: none;
  color:black;
 }

nav a:hover {
  opacity: 0.5;
}

/* carousel*/
div .slider {
  width: 30%;
  height: 60%;
  padding: 10px;
  margin-top: 30vh;
  background-color: transparent;
  margin-left: 30%;
}

@media screen and (min-width:400px) and (max-width:900px){
  div .slider {
  width: 60%;
  margin-left: 20%;
}}

/* scrollbar*/
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 550px;
  height: 500px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.9;
}


img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*number slider*/
.slider > a {
  color: black;
  display: inline-flex;
  width: 4.5rem;
  height: 4.5rem;
  background: rgb(226, 84, 191);
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}


